<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<h1>, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>
    
    
    <div class="container">
        
        <nav>
           <ul>
                <li>US - CAFE</li>
                <li>HOME</a></li>
                <li>MENU</a></li>
                <li>ABOUT US</li>
                <li>EVENTS</li>
                <li>CONTACT</li>
                <li>RESERVATIONS</li>
            
           </ul>
        </nav>
    </div>

    <div class="scroll-container">
        <img src="dennis-klein-8oIo60aLztg-unsplash.jpg">
        <img src="mekht-GuvimT4IFok-unsplash.jpg" alt="Forest">
        <img src="joseph-gonzalez-fdlZBWIP0aM-unsplash.jpg" alt="Northern Lights">
       
       <img src="dennis-klein-8oIo60aLztg-unsplash.jpg">
        <img src="mekht-GuvimT4IFok-unsplash.jpg" alt="Forest">
        <img src="joseph-gonzalez-fdlZBWIP0aM-unsplash.jpg" alt="Northern Lights">
       
       <img src="dennis-klein-8oIo60aLztg-unsplash.jpg">
        <img src="mekht-GuvimT4IFok-unsplash.jpg" alt="Forest">
        <img src="joseph-gonzalez-fdlZBWIP0aM-unsplash.jpg" alt="Northern Lights">
       
       <img src="dennis-klein-8oIo60aLztg-unsplash.jpg">
        <img src="mekht-GuvimT4IFok-unsplash.jpg" alt="Forest">
        <img src="joseph-gonzalez-fdlZBWIP0aM-unsplash.jpg" alt="Northern Lights">
       
    </div>
    
</body>
</html>